body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    
    max-width: 100ch;
    margin-inline: auto;
    padding: 20px;

  }

html {
  scrollbar-gutter: stable;
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
}

:root { 
  --color-accent: oklch(0.7 0.1 244.78);
}

nav a:hover {
  background-color: oklch(from var(--color-accent) 95% 5% h); 
  border-bottom: 0.4em solid var(--color-accent); 
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label,
button {
  grid-column: 1 / -1;
}

label {
  display: contents;
}

input,
textarea,
button {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.aboutme {
  text-align: center;
}

.resume {
  max-width: 100ch;
  margin: 2em auto;
  padding: 0 1.5em;
  line-height: 1.6;
}


.resume h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.resume h2 {
  font-size: 1.6em;
  padding-bottom: 0.3em;
  margin-top: 2em;
}


.resume section {
  margin-bottom: 2em;
}

.resume ul {
  padding-left: 1.2em;
  margin-top: 0.5em;
}

.resume li {
  margin-bottom: 0.5em;
}


